p {
  font-family: Arial;
  /*text-align: center;*/
  color: white;
}

body {
  background: rgb(2,0,36);
}

.project-title {
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}


