p {
  /*text-align: center;*/
  color: white;
}

body {
  /*background: rgb(120, 115, 215);*/
  background-color: white;
}

label {
  color: white;
  display: block;
}

legend {
  color: white;
}

.top-bar {
  display: flex;
  /* column-gap: 50px; */
  justify-content: center;
  margin: 5px;
  margin-bottom: 0px;
  background-color: #154734;
  place-items: center;
  border: none;
  /*border-radius: 5px;*/
  padding: 10px;
}

.top-bar img {
  width: 10%;
  height: auto;
}

.nav-bar {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  margin: 5px;
  margin-top: 0px;
  background-color: #446c5d;
  place-items: center;
  border: none;
  /*border-radius: 5px;*/
}

.nav-bar div {
  width: 120%;
  text-align: center;
  background-color: #154734;
}

.nav-bar p:hover {
  text-decoration: underline;
}

.project-title {
  font-size: 3vw;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-partner {
  margin-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-partner {
  margin-top: 0px;
  margin-bottom: 0px;
}

.search-bar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px 20px;
  border: none;
  border-radius: 8px;
  max-height: 44.5px;
}

ul {
  padding: 0px 20px;
}

.search-bar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px 20px;
  border: none;
  border-radius: 8px;
  max-height: 44.5px;
}

ul {
  padding: 0px 20px;
}

.fountain {
  background-color: rgba(255,255,255, 0.7);
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px 0px;
  /*height: 100px;
  width: 205px;*/
  display: block;
  list-style: none;
  margin: 10px 0px;
  /*height: 100px;
  width: 205px;*/
  display: block;
  list-style: none;
}

.fountainName,
.fountainCount,
.fountainID {
  color: black;
  font-size: 20px;
  margin: 0px;
  margin: 0px;
}

.fountainName {
  font-weight: bold;
  word-wrap: break-word;
  display: inline;
}

.total-counter {
  text-align: center;
  font-weight: bold;
  color: black;
}

.total-counter-box {
  background-color: rgb(255,255,255);
  border-radius: 10px;
  margin: 16px 5px;
  padding: 1px 0px;

}

.empty-database {
  background-color: rgb(253, 100, 100);
  color: black;
  padding: 10px;
  text-align: center;
  margin: 10px;
}