.create-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 20px;
}

.create-form {
  background-color: rgba(0, 179, 255, 0.7);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

.create-legend {
  background-color: white;
  color: black;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.create-label {
  color: white;
  margin-left: 10px;
}

.second-line-block {
  display: block;
}

.create-input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
}

.create-submit-btn {
  display: block;
  background-color: white;
  color: black;
  font-weight: bold;
  border-style: solid;
  border-width: 4px;
  border-color: aquamarine;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 10px;
  transition-duration: 0.4s;
}

.create-submit-btn:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.create-submit-btn:active {
  background-color: rgb(33, 153, 113);
  border-color: rgb(33, 153, 113);
}
.buttonbox {
  display : grid;
  grid-template-columns: 1fr 1fr;
}